<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="../../src/js/all.js"></script>
    <link rel="stylesheet" href="../src/css/all.css">
    <% if(locals.script){ %>
        <script type="text/javascript" src="../src/js/<%= script %>.js"></script>
        <% } if(locals.css){ %>
            <link rel="stylesheet" href="../src/css/<%= css %>.css">
            <% } %>
                <title>
                    <%= title %>
                </title>

                <navbar>
                    <div class="sticky">

                       
                            <ul>
                                <button action="/">Accueil</button>
                            </ul>
                           
                                <div class="espace"></div>

                                <button action="/pokemarker">Créer un pokemon</button>
                                <button action="/play">Jouer</button>
                                <button action="/pokemon">VoirLesPokemon</button>


                                <div class="espace"></div>
                                <ul>
                                    <% if(locals.username){ %>
                                        <button action="/logout">Se déconnecter</button>
                                        <% } else { %>
                                            <button action="/login">Login</button>
                                            <% } %>
                                </ul>

                    </div>
                </navbar>
</head>