<%- include('./partials/head', {title:'Création',script:'classement'}) %>

<body>
    <br><br><br><br>

      <div class="container">
      <h1>Bienvenue 
        <% if(locals.username){ %>
          <span id="username"><%= username %></span>
            <% } %>
      </h1>
      <h2>Vous voici sur la page qui affiche par ordre croissant le gagnant !</h2>
    </div>

      <br>
      <div>
        <p id="err"></p>
        <br>
      </div>
      <div id="alldiv">
        <input id="input" onkeyup="searchname()" type="search" placeholder="Rechercher" class="searchbar" />
        <br><br>
        <div id="container" class="container">
          <div id="tablediv">

          </div>
          <br>
        </div>
      <div>
<!-- <a href="createdeck">Create a new deck</a> -->

  </body>

  </html>