<%- include('./partials/head', {title:'Création',script:'create'}) %>

    <body>
        <div class="box">
            <h1>Inscription</h1>
            <form id="myForm">
                <div>
                    <p id="err"></p>
                    <br>
                </div>

                <label>Email</label>
                <input type="text" id="email" name="email" autocomplete="off" required>



                <label>Nom d'utilisateur</label>
                <input type="text" id="username" name="username" autocomplete="off" required>


                <label>Mot de passe</label>
                <input id="password" type="password" name="password" autocomplete="off" required>



                <div class="twobtn">
                    <input id="btncreate" type="submit" value="S'inscrire" disabled>
                    <button action="/login">Connexion</a>
                    </a>


            </form>
        </div>
    </body>

    </html>