<%- include('./partials/head', {title:'Create a pokemon',script: 'createpoke' }) %>

    <body>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="box">
        <h1>Création du pokemon de <i>
                <%= username %>
            </i> </h1>

        <p>Le total ne doit pas dépasser maximum de <span id="totmaxstat"></span> pour un maximum de <span id="maxstat"> </span> par statistiques</p>
        <form id="form" onchange="maxstat()" onsubmit="maxstat()">
            <div>
                <p id="err"></p>
                <br>
            </div>
            <label>Nom</label>
            <input type="text" name="name"></input>

            <label>Nom données</label>
            <input type="text" name="nomdonner"></input>

            <label>Pv</label>
            <input type="number" name="pv"></input>

            <label>Force</label>
            <input type="number" name="forcer"></input>

            <label>Defense</label>
            <input type="number" name="defense"></input>

            <label>vitesse</label>
            <input type="number" name="vitesse"></input>

            <label>Spéciale Attaque</label>
            <input type="number" name="specialatt"></input>

            <label>Spéciale Defense</label>
            <input type="number" name="specialdef"></input>

            <label>Nature</label>
            <input type="text" name="nature"></input>

            <input type="submit"></input>
        </form>
    </div>
    <div class="boxN1">
        <label for="contpoint">contpoint</label>
       <input id="contpoint" value="0" readonly></input>
    </div>

    <div class="boxN2">

        <h1>Attaque du pokemon</h1>

        <h2>Atck 1:</h2>
        <div id="atck1" class="container">
            
        <label for="puis1">Puissance</label>
        <input id="puis1" type="number"></input>

        <label for="prec1">Précision</label>
        <input id="prec1" type="number"></input>

        <label for="PP1">PP</label>
        <input id="PP1" type="number"></input>
        </div>

        
        <h2>Atck 2:</h2>
        <div id="atck2" class="container">
            
        <label for="puis2">Puissance</label>
        <input id="puis2" type="number"></input>

        <label for="prec2">Précision</label>
        <input id="prec2" type="number"></input>

        <label for="PP2">PP</label>
        <input id="PP2" type="number"></input>
        </div>

        <div id="atck3" class="container">
            
            <label for="puis3">Puissance</label>
            <input id="puis3" type="number"></input>
    
            <label for="prec3">Précision</label>
            <input id="prec3" type="number"></input>
    
            <label for="PP3">PP</label>
            <input id="PP3" type="number"></input>
            </div>

        <div id="atck4" class="container">
            
            <label for="puis4">Puissance</label>
            <input id="puis4" type="number"></input>

            <label for="prec4">Précision</label>
            <input id="prec4" type="number"></input>

            <label for="PP4">PP</label>
            <input id="PP4" type="number"></input>
        </div>

    </div>
    </body>

    </html>