<%- include('./partials/head', {title:'Deck',script:'equipe'}) %>

  <body>
    <br><br><br><br>

      <div id="popev" style="display: none">
        <div id="pdivev"></div>
      </div>
      <div class="container">
      <h1>Bienvenue <% if(locals.username){ %>
          <%= username %>
            <% } %>
      </h1>
      <h3>Ici vous pouvez voir votre équipe de pokémon, et par conséquence voir tout les pokémon que vous possédez.</h3>
    </div>
      <br>
      <div>
        <p id="err"></p>
        <br>
      </div>

      <!-- <div class="container">
        <button onclick="envoieequipe()">Envoyer son equipe</button>

      </div> -->


      <br><br>
      <div id="container" class="container">
        <div id="tablediv">

        </div>
        <br>
      </div>


  </body>

  </html>