
    <%- include('./partials/head', {title:'Bienvenue'}) %>

<body>
<br>
<br>
<br>
<br>
<div class="container">
    <h1>Bienvenue sur pokemarker !</h1>
    <p>Un site pour créer des pokemon et combattre les pokemon créer entre 2 joueurs !</p>
</div>
</body>
</html>