
    <%- include('./partials/head', {title:'Bienvenue'}) %>

<body>
    <h1>Connecter vous pour accéder au site web !</h1>
    <br>
    <button id="login" action="/login">Login</button>
    <button action="play">Play</button>
</body>
</html>