
    <%- include('./partials/head', {title:'Bienvenue'}) %>

<body>
<br>
<br>
<br>
<br>
<div class="container">
    <h1>Bienvenue sur pokemarker !</h1>
    <p>Un site pour créer des pokemon et combattre les pokemon créer entre 2 joueurs !</p>
</div>

<div class="container">

    <h1>Vous y trouverez différente page qui sont telle suit :</h1>

    <ul>
        <li><a href="/">L'accueil</a> - <span>La page ou vous arriver la 1ière fois !</span></li>
        <li><a href="/play">Jouer</a> - <span><span>Vous pouvez y faire combattre vos propre pokémon</span></li>
        <li><a href="/pokemarker">Créer un pokémon</a> - <span>Ici vous pourez créer votre propre pokémon !</span></li>
        <li><a href="/pokemon">VoirLesPokemon</a> - <span>Ici vous pourez vous tout les pokémon enregistrer</span></li>
        <li><a href="/historique">Historique</a> - <span>Ici vous pourez voir tout les combat qui ont était fait sur le site !</span></li>
        <li><a href="/equipe">Equipe</a> - <span>Ici vous pourez voir votre équipe de pokémon !</span></li>
        <li><a href="/classement">Classement</a> - <span>Ici vous pourez voir le classement de tout les joueurs !</span></li>

    </ul>
</div>
</body>
</html>