<%- include('./partials/head', {title:'Games',script: 'login'}) %>

    <body class="hero">
        <div class="main">
            <div class="box">
                <h1>Connexion</h1>
                <!-- action="/auth" method="post" -->
                <form id="form">
                    <div>
                        <p id="err"></p>
                        <br>
                    </div>
                    <label>Utilisateur</label>
                    <input id="username" type="text" name="username" autocomplete="off" required>



                    <label>Mot de passe</label>
                    <input id="password" type="password" name="password" autocomplete="off" required>




                    <div class="twobtn">
                        <input id="btnlog" type="submit" value="Se connecter">
                        <button action="/create">S'inscrire</a>
                    </div>


                </form>
            </div>
        </div>

    </body>