<%- include('./partials/head', {title:'Play',script:"play" }) %>

    <body>
        <br><br><br><br><br>
        <h1>Fin le 3 juin 2023</h1>
        <br><br><br><br><br>
        <a>Lien des fonctionalité(.xlsx)</a>

        <div>
            <h1>Patch note V1.0.0</h1>

            <ol>

               <li>Création de la page d'accueil vide</li>
               <li>Création du serveur web Node.js</li>
               <li>Création du github "pokemarker"</li>
               <li>Création d'une navbar pour naviguer sur le site(accueil login)</li>
               <li>Hébergement du site sur alwaysdata</li>
               <li>Création d'un compte et d'une bdd avec alwaysdata</li>

            </ol>
        </div>

        <div>
            <h1>Patch note V1.1.0</h1>

            <ol>

                <li>Création d'une page pour crée ses pokémon.</li>
                <li>Ajout du boutou de la page pour crée ses pokémon sur la navbar.</li>
                <li>Ajout d'une limite de point sur les statistique des pokémon en JS.</li>
                <li>Ajout dans la bdd une table pokémon relier au compte du site.</li>

            </ol>

        </div>


        <div>
            <h1>Patch note V1.2.0</h1>

            <ol>
                
                <li>Création d'un button pour afficher une sorte de popup qui affiche les ev du pokémon(il sont noté aléatoirement dans la bdd)</li>
                <li></li>
            </ol>
            
        </div>



        <div>
            <h1>Patch note V2.1.1</h1>

            <ol>
                
                <li>Ajout des ev dans les combat</li>
                
            </ol>
            
        </div>

        <div>

            <h1>Patch note V2.1.2</h1>

            <time>23/03/2023</time>

            <ol>
                
                <li>Les combat était inversée,c'est a dire que les pokémon se combatait eux même !</li>
                
            </ol>
            
        </div>

        <div>

            <h1>Patch note V2.1.2</h1>

            <time>30/03/2023</time>

            <ol>
                
                <li>Les combat était inversée,c'est a dire que les pokémon se combatait eux même !</li>
                
            </ol>
            
        </div>

        <div>
            
            <h1>Patch note V2.1.3</h1>

            <time>30/03/2023</time>

            <ol>
                
                <li>Ajout dans la bdd des 2 pokémon qui se sont combattu(il n'y avait que les compte qui on combattu ce qui ne suffit pas)</li>
                <li>Ajout dans l'historique du pokémon un button qui correspond au pokémon</li>
                
                <li>Finition de création de deck(ça ne gérait pas dans la bdd la date,ni avoir plusieurs deck),maitenant ça peut le gérer</li>
            </ol>
            
        </div>

        <div>
            
            <h1>Patch note V2.2.0</h1>

            <time>13/04/2023</time>

            <ol>
                
                <li>Connection déplacer dans un autre fichier</li>
                <li>Changement total de la bdd et ajout d'un dossier sql qui comprend le cmd et la composition de la bdd</li>
                <li>Ajout de route pour que ce soit bien fait.</li>

            </ol>
            
        </div>

        <div>
            
            <h1>Patch note V2.3.0</h1>

            <time>02/05/2023</time>

            <ol>
                
                <li>Ajout de la procedure dans la bdd pour pouvoir faire les statistique</li>


            </ol>
            
        </div>

        <div>
            
            <h1>Patch note V2.4.0</h1>

            <time>03/05/2023</time>

            <ol>
                
                <li>Refont de la bdd un tout petit peu(statistique)</li>
                <li>Création d'un pokémon fonctionnelle</li>
                <li>Il manque d'ajouter un choix de nature et un texte pour la description(mettre dans le procedure)</li>
                <li>La nature et les statistique on était mis en dur manuellement dans la bdd car elle ne changeront pas.</li>
                <li>Ne pas oublier de changer le readme(ajouter ce patch note dans le readme</li>

            </ol>
            
        </div>
        

    </body>
</html>