<%- include('./partials/head', {title:'Play',script:"play" }) %>

    <body>
        <br><br><br><br><br>
        <a>Lien des fonctionalité(.xlsx)</a>

        <div>
            <h1>Patch note V1.0.0</h1>

            <ol>

               <li>Création de la page d'accueil vide</li>
               <li>Création du serveur web Node.js</li>
               <li>Création du github "pokemarker"</li>
               <li>Création d'une navbar pour naviguer sur le site(accueil login)</li>
               <li>Hébergement du site sur alwaysdate</li>
               <li>Création d'un compte et d'une bdd avec alwaysdata</li>

            </ol>
        </div>

        <div>
            <h1>Patch note V1.1.0</h1>

            <ol>

                <li>Création d'une page pour crée ses pokémon.</li>
                <li>Ajout du boutou de la page pour crée ses pokémon sur la navbar.</li>
                <li>Ajout d'une limite de point sur les statistique des pokémon en JS.</li>
                <li>Ajout dans la bdd une table pokémon relier au compte du site.</li>

            </ol>

        </div>

        <div>
            <h1>Patch note V1.1.0</h1>

            <ol>

                <li>Création d'une page pour crée ses pokémon.</li>
                <li>Ajout du boutou de la page pour crée ses pokémon sur la navbar.</li>
                <li>Ajout d'une limite de point sur les statistique des pokémon en JS.</li>
                <li>Ajout dans la bdd une table pokémon relier au compte du site.</li>

            </ol>
            
        </div>

        <div>
            <h1>Patch note V1.1.1</h1>

            <ol>
                
                <li>Ajout de la page d'affichage des pokémon sur le serveur</li>
                <li>Ajout de la page affichage dans la navbar</li>
                
            </ol>
            
        </div>


        <div>
            <h1>Patch note V2.1.1</h1>

            <ol>
                
                <li>Ajout des ev dans les combat</li>
                
            </ol>
            
        </div>

        <div>
            <h1>Patch note V2.1.2</h1>

            <ol>
                
                <li>Les combat était inversée,c'est a dire que les pokémon se combatait eux même !</li>
                
            </ol>
            
        </div>
        

    </body>
</html>