<%- include('./partials/head', {title:'Play',script:"play" }) %>

    <body>
        <br><br><br><br>
        <div class="allcontent">

            <h1>Bienvenue
                <span id="usernames">
                    <%= username %>
                </span>
            </h1>

            <br>
            <div class="container">
                <div>
                    <p id="err"></p>
                    <br>
                </div>
                <div>
                    <div id="choixpokemon">
                        <h2>Veuillez choisir votre pokemon avant de rejoindre une salle</h2>
                        <br>
                        <label for="pokemon">Choix pokemon :</label>
                    </div>
                    <br>
                    <p name="pjoueurs">Nombre de joueurs : <span id="nbjoueurs">0</span></p>
                    <br>
                    <div id="divroom">
                        <input id="inputroom" class="searchbar" type="number" placeholder="Taper le numéro de la chambre a rejoindre">
                        <button id="joinroom">Rejoindre la salle</button>
                    </div>
                </div>
                <br>

                <div id="pokemonp2" class="none">
                    <h1 id="p2username"></h1>
                    <h2 id="p2name"></h2>
                    <h3 id="p2nv"></h3>
                    <label for="p2hp">Hp:</label>
                    <progress id="p2hp" max="100" value="100"> </progress>
                    <div class="">
                        <p id="p2atk"></p>
                        <p id="p2def"></p>
                        <p id="p2vitesse"></p>
                        <p id="p2spdatk"></p>
                        <p id="p2spddef"></p>
                    </div>
                </div>
                
                <div id="pokemonp1" style="display: none;">
                    <h1 id="p1username"></h1>
                    <h2 id="p1name"></h2>
                    <h3 id="p1nv"></h3>
<div>
                    <label for="p1hp">Hp:</label>
                    <progress id="p1hp" max="100" value="100"> </progress>
                </div>
                    <div class="">
                        <p id="p1atk"></p>
                        <p id="p1def"></p>
                        <p id="p1vitesse"></p>
                        <p id="p1spdatk"></p>
                        <p id="p1spddef"></p>
                    </div>
                </div>


                <br>

                <div id="combat" class="none">
                    <button id="btncombat"></button>
                </div>
                
                <br>

            </div>
        </div>


        <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
            integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
            crossorigin="anonymous"></script>
    </body>

    </html>