<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../src/css/play.css" />
    <script src="../src/js/play.js"></script>
    <title>Inscription</title>
  </head>
  <body>

    <button>haha</button>

  </body>
</html>
