<%- include('./partials/head', {title:'pokemon',script:'pokemon'}) %>

  <body>

    <div id="container" class="container">
      <h1>Bienvenue </h1>

      <br>
      <div>
        <p id="err"></p>
        <br>
      </div>

      <input id="input" onkeyup="searchname()" type="search" placeholder="Rechercher" class="searchbar" />
      <br><br>
    </div>

  </body>

  </html>