<%- include('./partials/head', {title:'pokemon',script:'pokemon'}) %>

  <body>

    <div id="container" class="container">
      <h1>Bienvenue <i>
          <%= username %>
        </i> </h1>

      <br>
      <div>
        <p id="err"></p>
        <br>
      </div>

      <input type="search" placeholder="Rechercher" class="searchbar" />
    </div>

  </body>

  </html>